/*******************************************************************************
	1. BASE
		1.1 Reset
		1.2 Accessibility Navigation & Hide
		1.3 Clearfix
		1.4 Fonts
		1.5 Default Styles
		1.6 Image Replacement		

	2. COMMON
		2.1 Container
		2.2 Header
		2.3 Navigation
		2.4 Content
		2.5 Sidebar
		2.6 Footer

	3. PAGES
		3.1 Blog
		3.2 Contact
		3.3 About


	4. PRINT

*******************************************************************************/


/* 1. BASE
--------------------------------------------------------------------------------
==============================================================================*/


/* 1.1 Reset
------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a[href], label[for], select, 
input[type=checkbox], input[type=radio] {
	cursor: pointer;
}

button, input[type=button], input[type=image], 
input[type=reset], input[type=submit] {
	padding: 0;
	overflow: visible;
	cursor: pointer;
}

button::-moz-focus-inner, 
input[type=button]::-moz-focus-inner, 
input[type=image]::-moz-focus-inner, 
input[type=reset]::-moz-focus-inner, 
input[type=submit]::-moz-focus-inner {
	border: 0;
}


/* 1.2 Accessibility Navigation & Hide
------------------------------------------------------------------------------*/

#accessibility-nav {
	position: absolute;
	top: 0;
	left: -9999em;
	z-index: 1000;
}

#accessibility-nav a {
	position: absolute;
	top: 0;
	white-space: nowrap;
}

#accessibility-nav a:active,
#accessibility-nav a:focus {
	left: 9999em;
}

.hide {
	position: absolute !important;
	left: -9999em !important;
}


/* 1.3 Clearfix
------------------------------------------------------------------------------*/

.clearfix:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
}

.ie7 .clearfix {
	zoom: 1; 
}


/* 1.4 Fonts
------------------------------------------------------------------------------*/ 

@font-face {
	font-family: 'Droid Sans';
	src: url('../fonts/DroidSans-webfont.eot');
	src: url('../fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/DroidSans-webfont.woff') format('woff'),
		 url('../fonts/DroidSans-webfont.ttf') format('truetype'),
		 url('../fonts/DroidSans-webfont.svg#DroidSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* 1.5 Default Styles
------------------------------------------------------------------------------*/

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	background: #6f6f6f url(../images/common/bg_body.jpg) repeat-x 0 129px;
}

hr {
	display: none;
}

strong, b {
	font-weight: bold;
}

small {
	font-size: 0.6875em;
}

em, i {
	font-style: italic;
}

del {
	text-decoration: line-through;
}

th, td {
	vertical-align: top;
}

th {
	font-weight: normal;
	text-align: left;
}

address, cite, dfn {
	font-style: normal;
}

abbr, acronym {
	border-bottom: 1px dotted #999;
	cursor: help;
}

input, textarea, select {
	font-family: Arial, Helvetica, sans-serif;
}

input[type="text"]:focus, textarea:focus,
input[type="email"]:focus, textarea:focus,
input[type="tel"].focus, textarea.focus {
	outline: 0 none;
	border-color: #e4620a !important;
}

textarea {
	 overflow: auto;
}

a, a:visited {
	text-decoration: none;
	color: #009aa6;
	
}

a:hover, a:active, a:focus {
	text-decoration: underline;
	color: #eeaf30;
}


/* 1.6 Image replacement
------------------------------------------------------------------------------*/

.ir {
	display: block;
	position: relative;
	overflow: hidden;
}

.ir span {
	display: block;
	position: absolute;	
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.ie7 .ir a span,
.ie7 a.ir span {
	cursor: pointer;
}


/* 2. COMMON
--------------------------------------------------------------------------------
==============================================================================*/

.alignleft,
.archive.author #content img {
	float: left;
}

.alignright {
	float: right;
}

.icon {
	height: 15px;
	display: block;
	background: url(../images/common/sprite_icons.png) no-repeat;
}

.icon-join {
	width: 16px;
}

.icon-see {
	width: 13px;
	background-position: 0 -30px;
}

.icon-email {
	width: 14px;
	background-position: 0 -60px;
}

.icon-print {
	width: 14px;
	background-position: 0 -90px;
}

.icon-comments {
	width: 14px;
	background-position: 0 -120px;
}

.icon-trackbacks {
	width: 14px;
	background-position: 0 -150px;
}

.icon-share {
	width: 10px;
	background-position: 0 -180px;
}

.icon-glass {
	width: 15px;
	background-position: -95px 0;
}

.addthis_default_style {
	margin: 5px;
}
.addthis_button_email span, .addthis_button_printfriendly span {
	display: none;
}

/* 2.1 Container
------------------------------------------------------------------------------*/

.container {
	width: 920px;
	margin: 0 auto;
	background: #fff url(../images/common/bg_content.png) repeat-y;
}

/* 2.2 Header
------------------------------------------------------------------------------*/

#header {
	width: 100%;
	height: 303px;
	position: relative;
	background: url(../images/common/bg_header.jpg) no-repeat;
}

#header .site-name {
	color: #333;
	font-size: 60px;
	line-height: 68px;
	width: 689px;
	height: 155px;
	padding-top: 100px;
	position: absolute;
	left: 221px;
	top: 48px;
	text-indent: -2000em;
}

#header .site-name span {
	top: 38px;
	background: url(../images/common/ir_header.jpg) no-repeat;
}

#header .by {
	width: 166px;
	height: 79px;
	position: absolute;
	left: 30px;
	top: 198px;
}

#header .by span {
	background: url(../images/common/logo.png) no-repeat;
}


/* 2.3 Navigation
------------------------------------------------------------------------------*/

#navigation {
	font-family: 'Droid Sans', Arial, Helvetica;
	margin-bottom: 28px;
}

.ie7 #navigation {
	zoom: 1;
}

#navigation li {
	line-height: 30px;
	font-size: 1.0625em;
	height: 30px;
	margin-bottom: 1px;
	background: #eeaf30;
}

.ie7 #navigation li {
	width: 211px;
	float: left;
	clear: left;
}

#navigation li:hover,
#navigation .current-menu-item {
	background: #fba01d;
}

#navigation a {
	color: #fefefd;
	padding: 0 16px;
	display: block;
	background: url(../images/common/bg_main_nav.png) right 0 repeat-y;
}

#navigation a:hover {
	text-decoration: none;
	font-weight: bold;
}


/* 2.4 Content
------------------------------------------------------------------------------*/

#content {
	width: 630px;
	padding: 20px 39px 0 0;
	float: right;
}

#content blockquote {
	padding-left: 37px;
	margin-bottom: 17px;
	background: url(../images/common/bg_blockquote.png) 0 3px no-repeat;
}

#content h1,
#content h2,
#content h3 {
	color: #009aa6;
	line-height: normal;
}

#content h1 a,
#content h2 a,
#content h3 a {
	color: #009aa6;
}

#content h1 a:hover,
#content h2 a:hover,
#content h3 a:hover {
	color: #eeaf30;
	text-decoration: none;
}

#content h1 {
	font-size: 1.625em;
	margin-bottom: 15px;
}

#content h2 {
	font-size: 1.1875em;
	font-weight: bold;
	margin-bottom: 10px;
}

#content h3 {
	font-size: 1.0666em;
	font-weight: bold;
	margin-bottom: 2px;
}

#content h4 {
	font-weight: bold;
	margin-bottom: 5px;
}

#content img {
	border: 2px solid #333;
	margin-top: 3px;
	margin-bottom: 12px;
}

#content img.alignleft,
#content img[align="left"],
.archive.author #content img {
	margin-right: 12px;
}

#content img.alignright {
	margin-left: 12px;
}

#content p {
	margin-bottom: 17px;
}

#content .contact-form p, #content .contact-info p {
	font-size: 1em;
}

#content ol {
	margin-left: 25px;
	list-style: decimal;
}

#content ul, #content ol {
	margin-bottom: 12px;
}

#content ol ol > li {
	list-style: lower-alpha;
}

#content ul > li {
	padding: 0 0 5px 25px;
	background: url(../images/common/bullet_li.png) 8px 9px no-repeat;
}

#content ol > li {
	padding-bottom: 5px;
}

#content ul ol, #content ol ul, #content ol ol, #content ul ul {
	margin-top: 5px;
	margin-bottom: -5px;
}

#content .post {
	margin-bottom: 40px;
}

#content .entry-header {
	margin-bottom: 18px;
}

#content .entry-header h1 {
	margin-bottom: .1em;
	line-height: 1.1em;
}

#content .entry-meta {
	font-size: 0.75em;
	position: relative;
}

#content .entry-content {
	line-height: 1.4em;
}

#content .post footer {
	font-size: 0.75em;
	margin-top: 22px;
}

#content .tag-links {
	padding: 0 0 7px 21px;
	margin-bottom: 6px;
	display: block;
	background: url(../images/common/border_post_footer.gif) 0 bottom repeat-x,
				url(../images/common/sprite_icons.png) 0 -210px no-repeat;
}

#content .tag-links a {
	font-weight: bold;
}

.older #content .tag-links {
	behavior: url(/?pie=true);
	-pie-background: url(_ui/images/common/border_post_footer.gif) 0 bottom repeat-x,
				url(_ui/images/common/sprite_icons.png) 0 -210px no-repeat;
	position: relative;
}

#content .entry-utility-prep-tag-links {
	text-transform: uppercase;
	font-weight: bold;
}

#content .entry-utility-prep-category-links {
	text-transform: uppercase;
	font-weight: bold;
}

.mrgn {
	padding-right: 30px;
}

#content .post .link {
	line-height: 20px;
	font-weight: bold;
	float: left;
	margin-right: 10px;
	position: relative;
}

#content .post .replace {
	font-size: 10px;
	font-weight: normal;
	margin-right: 0;
}

#content .post .link .icon {
	float: left;
}
#content .post .replace .icon {
	width: 100%;
	position: absolute;
}

#content .post .replace .icon-email {
	left: 0;
	top: 5px;
}

#content .post .replace .icon-print {
	left: 0;
	top: 2px;
}

#content .post .link-print {
	margin-right: 6px;
}

#content .post .icon-comments {
	margin: 4px 6px 0 0;
}

#content .post .icon-trackbacks {
	margin: 4px 4px 0 0;
}

#content .post .icon-share {
	margin: 5px 5px 0 0;
}
/* Print disclaimer */
.print-disclaimer {
	display: none;
}


/* 2.5 Sidebar
------------------------------------------------------------------------------*/

#sidebar {
	float: left;
	width: 211px;
	padding-left: 10px;
}

.sidebar-btn {
	height: 36px;
	padding-top: 14px;
	margin: 0 24px 14px 20px;
	background: url(../images/common/border_sidebar.gif) repeat-x;
}

.sidebar-btn a {
	color: #009aa6;
	text-shadow: 0 1px rgba(255, 255, 255, .5);
	height: 34px;
	padding-left: 44px;
	border: 1px solid #ebebe3;
	border-radius: 4px;
	margin: 1px;
	display: block;
	position: relative;
	box-shadow: 0 0 0 1px #cbcbba;

	background: #ddddcf; /* Old browsers */
	background: -moz-linear-gradient(top, #ddddcf 0%, #c1c1ab 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddddcf), color-stop(100%,#c1c1ab)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ddddcf 0%,#c1c1ab 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ddddcf 0%,#c1c1ab 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ddddcf 0%,#c1c1ab 100%); /* IE10+ */
	background: linear-gradient(top, #ddddcf 0%,#c1c1ab 100%); /* W3C */
}

.oldie .sidebar-btn a {
	behavior: url(/?pie=true);
	-pie-background: linear-gradient(#ddddcf, #c1c1ab);
}

.sidebar-btn a:hover {
	text-decoration: none;
}

.sidebar-btn .icon {
	position: absolute;
	left: 10px;
}

.sidebar-btn .icon-join {
	top: 11px;
}

.sidebar-btn .icon-see {
	top: 8px;
}

.sidebar-btn .small {
	color: #333;
	text-transform: uppercase;
	font-size: 0.625em;
	font-weight: bold;
	letter-spacing: 0.1em;
}

.sidebar-btn .raquo {
	margin-left: 4px;
	font-size: 0.8125em;
	font-weight: bold;
	position: relative;
	top: -1px;
}

.sidebar-btn .bigger {
	font-size: 0.8125em;
	font-weight: bold;
	margin-top: -3px;
	display: block;
}

.sidebar-btn + .widget {
	margin-top: 22px;
}

.widget {
	font-size: 0.75em;
	line-height: 16px;
	margin: 0 24px 19px 20px;
}

.widget h3,
.widget label {
	font-family: 'Droid Sans', Arial, Helvetica;
	font-size: 1.41666em;
	line-height: 18px;
	margin-bottom: 9px;
}

.widget h4 {
	color: #1470af;
	font-weight: bold;
	margin-bottom: 4px;
}

.widget ul {
	margin-top: -3px;
}

.widget ul > li {
	padding: 0 0 6px 0;
	margin-bottom: 5px;
	background: url(../images/common/border_sidebar.gif) 0 bottom repeat-x;
}

.widget ul ul {
	margin-top: 5px;
}

.widget ul ul li {
	padding: 0 0 5px 25px;
	margin: 0;
	background: url(../images/common/bullet_li.png) 12px 5px no-repeat;
}

.widget label {
	display: block;
}

.widget input#s,
.widget input#feedburner_email_widget_sbef_email {
	line-height: 12px;
	width: 128px;
	height: 12px;
	padding: 3px;
	border: 1px solid #ccc;
	float: left;
	margin: -2px 0 0 0;
}

.widget .more {
	text-transform: uppercase;
	font-weight: bold;
}

.widget #searchsubmit,
.widget #feedburner_email_widget_sbef_submit {
	color: #fff;
	text-transform: uppercase;
	line-height: 20px;
	font-size: 0.8333em;
	font-weight: bold;
	width: 26px;
	height: 20px;
	padding: 0;
	border: 0 none;
	margin-top: -2px;
	float: right;
	background: #009aa6;
}

.widget #searchsubmit:hover, .widget #feedburner_email_widget_sbef_submit:hover {
	background: #eeaf30;
}

.widget.widget_blog_authors {
	margin-bottom: 23px;
}

.widget.widget_blog_authors ul {
	padding: 0;
	border: 0 none;
	margin: 0;
}

.widget.widget_blog_authors li {
	padding: 0;
	border: 0 none;
	margin: 9px 0 0 0;
	background: none;
}

.widget_blog_authors .avatar {
	float: left;
	margin: 3px 10px 0 0;
}

.widget-box {
	border-radius: 4px;
	padding: 8px 5px 8px 11px;
	background: #cecece;
}

.older .widget-box {
	position: relative;
	behavior: url(/?pie=true);
}


/* 2.6 Footer
------------------------------------------------------------------------------*/

#footer {
	line-height: 16px;
	font-size: 0.75em;
	color: #fff;
	height: 114px;
	padding: 77px 30px 40px;
	clear: both;
	background: #6f6f6f url(../images/common/bg_footer.png) no-repeat;
}
.footer-container #footer {
	padding: 77px 0 40px;
}
#footer .row {
	line-height: 11px;
	font-size: 0.9166em;
	margin-bottom: 73px;
}
.footer-container #footer .row {
	padding: 0 30px;
}

#footer .info-links {
	width: 200px;
	margin-right: 10px;
	display: block;
	float: left;
}

#footer .info-links li {
	float: left;
	margin-right: 12px;
}

#footer .info-links li + li {
	padding-left: 9px;
	border-left: 1px solid #f4c974;
}

#footer .info-links a {
	color: #f4c974;
	text-transform: uppercase;
	font-size: 0.9em;
}

#footer .copyright {
	color: #626464;
}

#footer .col {
	width: 185px;
	padding-right: 30px;
	float: left;
}

#footer .col h2 {
	line-height: 19px;
	font-size: 1.41666em;
	margin-bottom: 15px;
	font-weight: bold;
}

#footer .col p {
	margin-bottom: 15px;
}

#footer .col strong,
#footer .col a {
	color: #f4c974;
	font-weight: normal;
}

.footer-container #footer > .row + .col {
	padding-left: 30px;
}


/* 3. PAGES
--------------------------------------------------------------------------------
==============================================================================*/


/* 3.1 Blog
------------------------------------------------------------------------------*/


/* 3.2 Contact
------------------------------------------------------------------------------*/

/* forms */

#content form {
	margin-bottom: 17px;
}

#content .label {
	font-size: 0.8125em;
	line-height: 20px;
	font-weight: bold;
	margin-bottom: 1px;
	display: block;
}

#content input[type="text"],
#content input[type="email"],
#content input[type="tel"],
#content textarea {
	color: #4c4c4c;
	font-size: 1.0625em;
	padding: 7px 10px;
	border: 1px solid #c0c0c0;
	margin: 0 0 16px;
	background: #edebec;
}

::-webkit-input-placeholder {
	color: #848484 !important;
}

:-moz-placeholder {
	color: #848484 !important;
}

:-ms-input-placeholder {
	color: #848484 !important;
}

#content input.placeholder,
#content textarea.placeholder {
	color: #848484 !important;
}

#content input[type="text"],
#content input[type="tel"],
#content input[type="email"] {
	width: 258px;
	height: 18px;
}

#content textarea {
	width: 607px;
	height: 178px;
	resize: vertical;
}

#content input[type="submit"] {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.9375em;
	font-weight: bold;
	padding: 7px 12px;
	border: 0 none;
	margin-top: -2px;
	background: #009aa6;
}

#content input[type="submit"]:hover {
	background: #eeaf30;
}

/* forms - END */

#content .contact-info {
	padding-bottom: 19px;
	border-bottom: 1px solid #D1D1D1;
	margin-bottom: 24px;
}

#content .contact-form .info {
	color: #666;
	line-height: 16px;
}

#content .col {
	font-size: 0.8125em;
	float: left;
}

#content .col p {
	margin-bottom: 10px;
}

#content .col.narrow {
	width: 177px;
}
#content .contact-info .col.narrow { width: 210px; }
#content .col.wide {
	width: 275px;
}

#commentform label {
	clear: both;
	margin-bottom: 5px;
}

#commentform input,
#commentform textarea {
	clear: both;
	display: block;
}

.twitter-share-button {
	height: 20px !important;
	position: relative;
	padding: 0 !important;
	margin: 0 !important;
	top: 0 !important;
}



/* =Comments
----------------------------------------------- */
.commentlist > li.comment {
	margin-left: 102px;
}

.commentlist > li.comment {
	margin-left: 0;
}

.commentlist > li.comment .comment-meta,
.commentlist > li.comment .comment-content {
	margin-right: 85px;
}

.commentlist .avatar {
	background: transparent;
	display: block;
	padding: 0;
	top: 1.625em;
	left: auto;
	right: 1.625em;
}

.commentlist .children .avatar {
	background: none;
	padding: 0;
	position: absolute;
	top: 2.2em;
	left: 2.2em;
}

#comments-title {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	line-height: 2.6em;
	padding: 0 0 2.6em;
	text-transform: uppercase;
}

.nopassword,
.nocomments {
	color: #aaa;
	font-size: 24px;
	font-weight: 100;
	margin: 26px 0;
	text-align: center;
}

.commentlist {
	list-style: none;
	margin: 0 auto;
}

.commentlist > li.comment {
	background: #f6f6f6;
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 0 1.625em;
	padding: 1.625em;
	position: relative;
}

.commentlist .pingback {
	margin: 0 0 1.625em;
	padding: 0 1.625em;
}

.commentlist .children {
	list-style: none;
	margin: 0;
	background: none;
}

.commentlist .children li.comment {
	background: #fff;
	border-left: 1px solid #ddd;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	margin: 1.625em 0 0;
	padding: 1.625em;
	position: relative;
}

.commentlist .children li.comment .fn {
	display: block;
}

.comment-meta .fn {
	font-style: normal;
}

.comment-meta {
	color: #666;
	font-size: 12px;
	line-height: 2.2em;
}

.commentlist .children li.comment .comment-meta {
	line-height: 1.625em;
	margin-left: 50px;
}

.commentlist .children li.comment .comment-content {
	margin: 1.625em 0 0;
}

.comment-meta a {
	font-weight: bold;
}

.comment-meta a:focus,
.comment-meta a:active,
.comment-meta a:hover {
}

.commentlist .avatar {
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	box-shadow: 0 1px 2px #ccc;
	left: -102px;
	padding: 0;
	position: absolute;
	top: 0;
}

.commentlist > li:before {
	content: url(images/comment-arrow.png);
	left: -21px;
	position: absolute;
}

.commentlist > li.pingback:before {
	content: '';
}

.commentlist .children .avatar {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	left: 2.2em;
	padding: 0;
	top: 0;
}

a.comment-reply-link {
	background: #eee;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	display: inline-block;
	font-size: 12px;
	padding: 0 8px;
	text-decoration: none;
}

a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active {
	background: #888;
	color: #fff;
}

a.comment-reply-link > span {
	display: inline-block;
	position: relative;
	top: -1px;
}

/* Post author highlighting */
.commentlist > li.bypostauthor {
	background: #ddd;
	border-color: #d3d3d3;
}

.commentlist > li.bypostauthor .comment-meta {
	color: #575757;
}

.commentlist > li.bypostauthor .comment-meta a:focus,
.commentlist > li.bypostauthor .comment-meta a:active,
.commentlist > li.bypostauthor .comment-meta a:hover {
}

.commentlist > li.bypostauthor:before {
	content: url(images/comment-arrow-bypostauthor.png);
}

/* Post Author threaded comments */
.commentlist .children > li.bypostauthor {
	background: #ddd;
	border-color: #d3d3d3;
}

/* sidebar-page.php comments */
/* Make sure we have room for our comment avatars */
.commentlist > li.comment,
.commentlist .pingback {
	margin-left: 102px;
	width: auto;
}


/* 4. PRINT
--------------------------------------------------------------------------------
==============================================================================*/


@media print {

	body { 
		font: normal normal 12pt/1.5em Georgia, 'Times New Roman', serif; 
		background: transparent !important;
		color: black !important;
		box-shadow: none !important;
		text-shadow: none !important;
		filter:none !important;
		-ms-filter: none !important;
	}
	
	#sidebar {
		display: none;
	}

	a[href]:after { 
		content: " (" attr(href) ") "; 
		font-size: 90%; 
	}

	a[href^="/"]:after { 
		content: " (http://foho.urldock.com" attr(href) ") ";
	}

	.ir span,
	#content .post .replace span {
		display: none !important;
	}

	#accessibility-nav, 
	.hide { 
		display: none !important; 
	}

	#header {
		height: auto;
	}

	#header .site-name,
	#header .by {
		width: auto;
		height: auto;
		padding: 0 0 12pt;
		position: static;
	}

	#content .post .replace {
		font-size: 100%;
		margin-right: 10px;
	}

	.sidebar-btn .icon {
		display: none;
	}

	.sidebar-btn a {
		height: auto;
		padding: 0;
		border: 0 none;
		box-shadow: 0 0 0 0 transparent;
	}
	/* Copyright */
	.print-disclaimer {
		display: block;
	}
	/* Comments */
	.commentlist > li.comment {
		background: none;
		border: 1px solid #ddd;
		-moz-border-radius: 3px 3px 3px 3px;
		border-radius: 3px 3px 3px 3px;
		margin: 0 auto 1.625em;
		padding: 1.625em;
		position: relative;
		width: auto;
	}
	.commentlist .avatar {
		height: 39px;
		left: 2.2em;
		top: 2.2em;
		width: 39px;
	}
	.commentlist li.comment .comment-meta {
		line-height: 1.625em;
		margin-left: 50px;
	}
	.commentlist li.comment .fn {
		display: block;
	}
	.commentlist li.comment .comment-content {
		margin: 1.625em 0 0;
	}
	.commentlist .comment-edit-link {
		display: none;
	}
	.commentlist > li::before,
	.commentlist > li.bypostauthor::before {
		content: '';
	}
	.commentlist .reply {
		display: none;
	}

	/* Post author highlighting */
	.commentlist > li.bypostauthor {
		color: #444;
	}
	.commentlist > li.bypostauthor .comment-meta {
		color: #666;
	}
	.commentlist > li.bypostauthor:before {
		content: none;
	}

	/* Post Author threaded comments */
	.commentlist .children > li.bypostauthor {
		background: #fff;
		border-color: #ddd;
	}
	.commentlist .children > li.bypostauthor > article,
	.commentlist .children > li.bypostauthor > article .comment-meta {
		color: #666;
	}
	
	.link-email,
	.link-print,
	.st_sharethis_hcount,
	.twitter-share-button,
	.fb-like,
	#respond {
		display: none;
	}
	
	.container,
	#content {
		width: 100%;
		margin: 0;
		padding: 0;
	}
}

.ie7 .error404 #s {
	margin-bottom: 0;
}

.ie7 .twitter-share-button {
	width: 90px !important;
}

#content .wp-caption, #content .wp-caption * { font-size: 12px; font-style: italic; line-height: 1.5; text-align:center; }
#content p.wp-caption-text, #content dd.wp-caption-dd { margin-right: 5px; margin-top: -10px; margin-bottom: 8px; } #content .wp-caption.alignleft { padding-right: 10px; } #content .wp-caption.alignright { padding-left: 10px; }
.footerLinkFoley .fn.org:hover, .footerLinkEEC .fn.org:hover {
cursor: pointer;
text-decoration: underline;
}
#f33d {
position: absolute;
top: -2px;
right: 0;
width: 18px;
height: 18px;
display: block;
background: url(../images/common/feed_24.png) top left no-repeat;
background-size: contain;
}
#f33d b {
display: none;
}
.FeedburnerEmailWidget h3 {
position: relative;
display: block;
}
.aligncenter { margin: 0 auto!important; }
.fourthChild { clear: left; }
#footer .fourthChild { clear: none; }
#footer .col { min-height: 215px; height: auto!important; height: 215px; }
#footer .col.footerLinkFoley { min-height: 135px; height: auto!important; height: 135px; }
=======
/*******************************************************************************
	1. BASE
		1.1 Reset
		1.2 Accessibility Navigation & Hide
		1.3 Clearfix
		1.4 Fonts
		1.5 Default Styles
		1.6 Image Replacement		

	2. COMMON
		2.1 Container
		2.2 Header
		2.3 Navigation
		2.4 Content
		2.5 Sidebar
		2.6 Footer

	3. PAGES
		3.1 Blog
		3.2 Contact
		3.3 About


	4. PRINT

*******************************************************************************/


/* 1. BASE
--------------------------------------------------------------------------------
==============================================================================*/


/* 1.1 Reset
------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a[href], label[for], select, 
input[type=checkbox], input[type=radio] {
	cursor: pointer;
}

button, input[type=button], input[type=image], 
input[type=reset], input[type=submit] {
	padding: 0;
	overflow: visible;
	cursor: pointer;
}

button::-moz-focus-inner, 
input[type=button]::-moz-focus-inner, 
input[type=image]::-moz-focus-inner, 
input[type=reset]::-moz-focus-inner, 
input[type=submit]::-moz-focus-inner {
	border: 0;
}


/* 1.2 Accessibility Navigation & Hide
------------------------------------------------------------------------------*/

#accessibility-nav {
	position: absolute;
	top: 0;
	left: -9999em;
	z-index: 1000;
}

#accessibility-nav a {
	position: absolute;
	top: 0;
	white-space: nowrap;
}

#accessibility-nav a:active,
#accessibility-nav a:focus {
	left: 9999em;
}

.hide {
	position: absolute !important;
	left: -9999em !important;
}


/* 1.3 Clearfix
------------------------------------------------------------------------------*/

.clearfix:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
}

.ie7 .clearfix {
	zoom: 1; 
}


/* 1.4 Fonts
------------------------------------------------------------------------------*/ 

@font-face {
	font-family: 'Droid Sans';
	src: url('../fonts/DroidSans-webfont.eot');
	src: url('../fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/DroidSans-webfont.woff') format('woff'),
		 url('../fonts/DroidSans-webfont.ttf') format('truetype'),
		 url('../fonts/DroidSans-webfont.svg#DroidSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* 1.5 Default Styles
------------------------------------------------------------------------------*/

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	background: #6f6f6f url(../images/common/bg_body.jpg) repeat-x 0 129px;
}

hr {
	display: none;
}

strong, b {
	font-weight: bold;
}

small {
	font-size: 0.6875em;
}

em, i {
	font-style: italic;
}

del {
	text-decoration: line-through;
}

th, td {
	vertical-align: top;
}

th {
	font-weight: normal;
	text-align: left;
}

address, cite, dfn {
	font-style: normal;
}

abbr, acronym {
	border-bottom: 1px dotted #999;
	cursor: help;
}

input, textarea, select {
	font-family: Arial, Helvetica, sans-serif;
}

input[type="text"]:focus, textarea:focus,
input[type="email"]:focus, textarea:focus,
input[type="tel"].focus, textarea.focus {
	outline: 0 none;
	border-color: #e4620a !important;
}

textarea {
	 overflow: auto;
}

a, a:visited {
	text-decoration: none;
	color: #009aa6;
	
}

a:hover, a:active, a:focus {
	text-decoration: underline;
	color: #eeaf30;
}


/* 1.6 Image replacement
------------------------------------------------------------------------------*/

.ir {
	display: block;
	position: relative;
	overflow: hidden;
}

.ir span {
	display: block;
	position: absolute;	
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.ie7 .ir a span,
.ie7 a.ir span {
	cursor: pointer;
}


/* 2. COMMON
--------------------------------------------------------------------------------
==============================================================================*/

.alignleft,
.archive.author #content img {
	float: left;
}

.alignright {
	float: right;
}

.icon {
	height: 15px;
	display: block;
	background: url(../images/common/sprite_icons.png) no-repeat;
}

.icon-join {
	width: 16px;
}

.icon-see {
	width: 13px;
	background-position: 0 -30px;
}

.icon-email {
	width: 14px;
	background-position: 0 -60px;
}

.icon-print {
	width: 14px;
	background-position: 0 -90px;
}

.icon-comments {
	width: 14px;
	background-position: 0 -120px;
}

.icon-trackbacks {
	width: 14px;
	background-position: 0 -150px;
}

.icon-share {
	width: 10px;
	background-position: 0 -180px;
}

.icon-glass {
	width: 15px;
	background-position: -95px 0;
}

.addthis_default_style {
	margin: 5px;
}
.addthis_button_email span, .addthis_button_printfriendly span {
	display: none;
}

/* 2.1 Container
------------------------------------------------------------------------------*/

.container {
	width: 920px;
	margin: 0 auto;
	background: #fff url(../images/common/bg_content.png) repeat-y;
}

/* 2.2 Header
------------------------------------------------------------------------------*/

#header {
	width: 100%;
	height: 303px;
	position: relative;
	background: url(../images/common/bg_header.jpg) no-repeat;
}

#header .site-name {
	color: #333;
	font-size: 60px;
	line-height: 68px;
	width: 689px;
	height: 155px;
	padding-top: 100px;
	position: absolute;
	left: 221px;
	top: 48px;
	text-indent: -2000em;
}

#header .site-name span {
	top: 38px;
	background: url(../images/common/ir_header.jpg) no-repeat;
}

#header .by {
	width: 166px;
	height: 79px;
	position: absolute;
	left: 30px;
	top: 198px;
}

#header .by span {
	background: url(../images/common/logo.png) no-repeat;
}


/* 2.3 Navigation
------------------------------------------------------------------------------*/

#navigation {
	font-family: 'Droid Sans', Arial, Helvetica;
	margin-bottom: 28px;
}

.ie7 #navigation {
	zoom: 1;
}

#navigation li {
	line-height: 30px;
	font-size: 1.0625em;
	height: 30px;
	margin-bottom: 1px;
	background: #eeaf30;
}

.ie7 #navigation li {
	width: 211px;
	float: left;
	clear: left;
}

#navigation li:hover,
#navigation .current-menu-item {
	background: #fba01d;
}

#navigation a {
	color: #fefefd;
	padding: 0 16px;
	display: block;
	background: url(../images/common/bg_main_nav.png) right 0 repeat-y;
}

#navigation a:hover {
	text-decoration: none;
	font-weight: bold;
}


/* 2.4 Content
------------------------------------------------------------------------------*/

#content {
	width: 630px;
	padding: 20px 39px 0 0;
	float: right;
}

#content blockquote {
	padding-left: 37px;
	margin-bottom: 17px;
	background: url(../images/common/bg_blockquote.png) 0 3px no-repeat;
}

#content h1,
#content h2,
#content h3 {
	color: #009aa6;
	line-height: normal;
}

#content h1 a,
#content h2 a,
#content h3 a {
	color: #009aa6;
}

#content h1 a:hover,
#content h2 a:hover,
#content h3 a:hover {
	color: #eeaf30;
	text-decoration: none;
}

#content h1 {
	font-size: 1.625em;
	margin-bottom: 15px;
}

#content h2 {
	font-size: 1.1875em;
	font-weight: bold;
	margin-bottom: 10px;
}

#content h3 {
	font-size: 1.0666em;
	font-weight: bold;
	margin-bottom: 2px;
}

#content h4 {
	font-weight: bold;
	margin-bottom: 5px;
}

#content img {
	border: 2px solid #333;
	margin-top: 3px;
	margin-bottom: 12px;
}

#content img.alignleft,
#content img[align="left"],
.archive.author #content img {
	margin-right: 12px;
}

#content img.alignright {
	margin-left: 12px;
}

#content p {
	margin-bottom: 17px;
}

#content .contact-form p, #content .contact-info p {
	font-size: 1em;
}

#content ol {
	margin-left: 25px;
	list-style: decimal;
}

#content ul, #content ol {
	margin-bottom: 12px;
}

#content ol ol > li {
	list-style: lower-alpha;
}

#content ul > li {
	padding: 0 0 5px 25px;
	background: url(../images/common/bullet_li.png) 8px 9px no-repeat;
}

#content ol > li {
	padding-bottom: 5px;
}

#content ul ol, #content ol ul, #content ol ol, #content ul ul {
	margin-top: 5px;
	margin-bottom: -5px;
}

#content .post {
	margin-bottom: 40px;
}

#content .entry-header {
	margin-bottom: 18px;
}

#content .entry-header h1 {
	margin-bottom: .1em;
	line-height: 1.1em;
}

#content .entry-meta {
	font-size: 0.75em;
	position: relative;
}

#content .entry-content {
	line-height: 1.4em;
}

#content .post footer {
	font-size: 0.75em;
	margin-top: 22px;
}

#content .tag-links {
	padding: 0 0 7px 21px;
	margin-bottom: 6px;
	display: block;
	background: url(../images/common/border_post_footer.gif) 0 bottom repeat-x,
				url(../images/common/sprite_icons.png) 0 -210px no-repeat;
}

#content .tag-links a {
	font-weight: bold;
}

.older #content .tag-links {
	behavior: url(/?pie=true);
	-pie-background: url(_ui/images/common/border_post_footer.gif) 0 bottom repeat-x,
				url(_ui/images/common/sprite_icons.png) 0 -210px no-repeat;
	position: relative;
}

#content .entry-utility-prep-tag-links {
	text-transform: uppercase;
	font-weight: bold;
}

#content .entry-utility-prep-category-links {
	text-transform: uppercase;
	font-weight: bold;
}

.mrgn {
	padding-right: 30px;
}

#content .post .link {
	line-height: 20px;
	font-weight: bold;
	float: left;
	margin-right: 10px;
	position: relative;
}

#content .post .replace {
	font-size: 10px;
	font-weight: normal;
	margin-right: 0;
}

#content .post .link .icon {
	float: left;
}
#content .post .replace .icon {
	width: 100%;
	position: absolute;
}

#content .post .replace .icon-email {
	left: 0;
	top: 5px;
}

#content .post .replace .icon-print {
	left: 0;
	top: 2px;
}

#content .post .link-print {
	margin-right: 6px;
}

#content .post .icon-comments {
	margin: 4px 6px 0 0;
}

#content .post .icon-trackbacks {
	margin: 4px 4px 0 0;
}

#content .post .icon-share {
	margin: 5px 5px 0 0;
}
/* Print disclaimer */
.print-disclaimer {
	display: none;
}


/* 2.5 Sidebar
------------------------------------------------------------------------------*/

#sidebar {
	float: left;
	width: 211px;
	padding-left: 10px;
}

.sidebar-btn {
	height: 36px;
	padding-top: 14px;
	margin: 0 24px 14px 20px;
	background: url(../images/common/border_sidebar.gif) repeat-x;
}

.sidebar-btn a {
	color: #009aa6;
	text-shadow: 0 1px rgba(255, 255, 255, .5);
	height: 34px;
	padding-left: 44px;
	border: 1px solid #ebebe3;
	border-radius: 4px;
	margin: 1px;
	display: block;
	position: relative;
	box-shadow: 0 0 0 1px #cbcbba;

	background: #ddddcf; /* Old browsers */
	background: -moz-linear-gradient(top, #ddddcf 0%, #c1c1ab 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddddcf), color-stop(100%,#c1c1ab)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ddddcf 0%,#c1c1ab 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ddddcf 0%,#c1c1ab 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ddddcf 0%,#c1c1ab 100%); /* IE10+ */
	background: linear-gradient(top, #ddddcf 0%,#c1c1ab 100%); /* W3C */
}

.oldie .sidebar-btn a {
	behavior: url(/?pie=true);
	-pie-background: linear-gradient(#ddddcf, #c1c1ab);
}

.sidebar-btn a:hover {
	text-decoration: none;
}

.sidebar-btn .icon {
	position: absolute;
	left: 10px;
}

.sidebar-btn .icon-join {
	top: 11px;
}

.sidebar-btn .icon-see {
	top: 8px;
}

.sidebar-btn .small {
	color: #333;
	text-transform: uppercase;
	font-size: 0.625em;
	font-weight: bold;
	letter-spacing: 0.1em;
}

.sidebar-btn .raquo {
	margin-left: 4px;
	font-size: 0.8125em;
	font-weight: bold;
	position: relative;
	top: -1px;
}

.sidebar-btn .bigger {
	font-size: 0.8125em;
	font-weight: bold;
	margin-top: -3px;
	display: block;
}

.sidebar-btn + .widget {
	margin-top: 22px;
}

.widget {
	font-size: 0.75em;
	line-height: 16px;
	margin: 0 24px 19px 20px;
}

.widget h3,
.widget label {
	font-family: 'Droid Sans', Arial, Helvetica;
	font-size: 1.41666em;
	line-height: 18px;
	margin-bottom: 9px;
}

.widget h4 {
	color: #1470af;
	font-weight: bold;
	margin-bottom: 4px;
}

.widget ul {
	margin-top: -3px;
}

.widget ul > li {
	padding: 0 0 6px 0;
	margin-bottom: 5px;
	background: url(../images/common/border_sidebar.gif) 0 bottom repeat-x;
}

.widget ul ul {
	margin-top: 5px;
}

.widget ul ul li {
	padding: 0 0 5px 25px;
	margin: 0;
	background: url(../images/common/bullet_li.png) 12px 5px no-repeat;
}

.widget label {
	display: block;
}

.widget input#s,
.widget input#feedburner_email_widget_sbef_email {
	line-height: 12px;
	width: 128px;
	height: 12px;
	padding: 3px;
	border: 1px solid #ccc;
	float: left;
	margin: -2px 0 0 0;
}

.widget .more {
	text-transform: uppercase;
	font-weight: bold;
}

.widget #searchsubmit,
.widget #feedburner_email_widget_sbef_submit {
	color: #fff;
	text-transform: uppercase;
	line-height: 20px;
	font-size: 0.8333em;
	font-weight: bold;
	width: 26px;
	height: 20px;
	padding: 0;
	border: 0 none;
	margin-top: -2px;
	float: right;
	background: #009aa6;
}

.widget #searchsubmit:hover, .widget #feedburner_email_widget_sbef_submit:hover {
	background: #eeaf30;
}

.widget.widget_blog_authors {
	margin-bottom: 23px;
}

.widget.widget_blog_authors ul {
	padding: 0;
	border: 0 none;
	margin: 0;
}

.widget.widget_blog_authors li {
	padding: 0;
	border: 0 none;
	margin: 9px 0 0 0;
	background: none;
}

.widget_blog_authors .avatar {
	float: left;
	margin: 3px 10px 0 0;
}

.widget-box {
	border-radius: 4px;
	padding: 8px 5px 8px 11px;
	background: #cecece;
}

.older .widget-box {
	position: relative;
	behavior: url(/?pie=true);
}


/* 2.6 Footer
------------------------------------------------------------------------------*/

#footer {
	line-height: 16px;
	font-size: 0.75em;
	color: #fff;
	height: 114px;
	padding: 77px 30px 40px;
	clear: both;
	background: #6f6f6f url(../images/common/bg_footer.png) no-repeat;
}

#footer .row {
	line-height: 11px;
	font-size: 0.9166em;
	margin-bottom: 73px;
}

#footer .info-links {
	width: 200px;
	margin-right: 10px;
	display: block;
	float: left;
}

#footer .info-links li {
	float: left;
	margin-right: 12px;
}

#footer .info-links li + li {
	padding-left: 9px;
	border-left: 1px solid #f4c974;
}

#footer .info-links a {
	color: #f4c974;
	text-transform: uppercase;
	font-size: 0.9em;
}

#footer .copyright {
	color: #626464;
}

#footer .col {
	width: 185px;
	padding-right: 30px;
	float: left;
}

#footer .col h2 {
	line-height: 19px;
	font-size: 1.41666em;
	margin-bottom: 15px;
	font-weight: bold;
}

#footer .col p {
	margin-bottom: 15px;
}

#footer .col strong,
#footer .col a {
	color: #f4c974;
	font-weight: normal;
}

.footer-container #footer > .row + .col {
	padding-left: 30px;
}


/* 3. PAGES
--------------------------------------------------------------------------------
==============================================================================*/


/* 3.1 Blog
------------------------------------------------------------------------------*/


/* 3.2 Contact
------------------------------------------------------------------------------*/

/* forms */

#content form {
	margin-bottom: 17px;
}

#content .label {
	font-size: 0.8125em;
	line-height: 20px;
	font-weight: bold;
	margin-bottom: 1px;
	display: block;
}

#content input[type="text"],
#content input[type="email"],
#content input[type="tel"],
#content textarea {
	color: #4c4c4c;
	font-size: 1.0625em;
	padding: 7px 10px;
	border: 1px solid #c0c0c0;
	margin: 0 0 16px;
	background: #edebec;
}

::-webkit-input-placeholder {
	color: #848484 !important;
}

:-moz-placeholder {
	color: #848484 !important;
}

:-ms-input-placeholder {
	color: #848484 !important;
}

#content input.placeholder,
#content textarea.placeholder {
	color: #848484 !important;
}

#content input[type="text"],
#content input[type="tel"],
#content input[type="email"] {
	width: 258px;
	height: 18px;
}

#content textarea {
	width: 607px;
	height: 178px;
	resize: vertical;
}

#content input[type="submit"] {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.9375em;
	font-weight: bold;
	padding: 7px 12px;
	border: 0 none;
	margin-top: -2px;
	background: #009aa6;
}

#content input[type="submit"]:hover {
	background: #eeaf30;
}

/* forms - END */

#content .contact-info {
	padding-bottom: 19px;
	border-bottom: 1px solid #D1D1D1;
	margin-bottom: 24px;
}

#content .contact-form .info {
	color: #666;
	line-height: 16px;
}

#content .col {
	font-size: 0.8125em;
	float: left;
}

#content .col p {
	margin-bottom: 10px;
}

#content .col.narrow {
	width: 177px;
}
#content .contact-info .col.narrow { width: 210px; }
#content .col.wide {
	width: 275px;
}

#commentform label {
	clear: both;
	margin-bottom: 5px;
}

#commentform input,
#commentform textarea {
	clear: both;
	display: block;
}

.twitter-share-button {
	height: 20px !important;
	position: relative;
	padding: 0 !important;
	margin: 0 !important;
	top: 0 !important;
}



/* =Comments
----------------------------------------------- */
.commentlist > li.comment {
	margin-left: 102px;
}

.commentlist > li.comment {
	margin-left: 0;
}

.commentlist > li.comment .comment-meta,
.commentlist > li.comment .comment-content {
	margin-right: 85px;
}

.commentlist .avatar {
	background: transparent;
	display: block;
	padding: 0;
	top: 1.625em;
	left: auto;
	right: 1.625em;
}

.commentlist .children .avatar {
	background: none;
	padding: 0;
	position: absolute;
	top: 2.2em;
	left: 2.2em;
}

#comments-title {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	line-height: 2.6em;
	padding: 0 0 2.6em;
	text-transform: uppercase;
}

.nopassword,
.nocomments {
	color: #aaa;
	font-size: 24px;
	font-weight: 100;
	margin: 26px 0;
	text-align: center;
}

.commentlist {
	list-style: none;
	margin: 0 auto;
}

.commentlist > li.comment {
	background: #f6f6f6;
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 0 1.625em;
	padding: 1.625em;
	position: relative;
}

.commentlist .pingback {
	margin: 0 0 1.625em;
	padding: 0 1.625em;
}

.commentlist .children {
	list-style: none;
	margin: 0;
	background: none;
}

.commentlist .children li.comment {
	background: #fff;
	border-left: 1px solid #ddd;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	margin: 1.625em 0 0;
	padding: 1.625em;
	position: relative;
}

.commentlist .children li.comment .fn {
	display: block;
}

.comment-meta .fn {
	font-style: normal;
}

.comment-meta {
	color: #666;
	font-size: 12px;
	line-height: 2.2em;
}

.commentlist .children li.comment .comment-meta {
	line-height: 1.625em;
	margin-left: 50px;
}

.commentlist .children li.comment .comment-content {
	margin: 1.625em 0 0;
}

.comment-meta a {
	font-weight: bold;
}

.comment-meta a:focus,
.comment-meta a:active,
.comment-meta a:hover {
}

.commentlist .avatar {
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	box-shadow: 0 1px 2px #ccc;
	left: -102px;
	padding: 0;
	position: absolute;
	top: 0;
}

.commentlist > li:before {
	content: url(images/comment-arrow.png);
	left: -21px;
	position: absolute;
}

.commentlist > li.pingback:before {
	content: '';
}

.commentlist .children .avatar {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	left: 2.2em;
	padding: 0;
	top: 0;
}

a.comment-reply-link {
	background: #eee;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	display: inline-block;
	font-size: 12px;
	padding: 0 8px;
	text-decoration: none;
}

a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active {
	background: #888;
	color: #fff;
}

a.comment-reply-link > span {
	display: inline-block;
	position: relative;
	top: -1px;
}

/* Post author highlighting */
.commentlist > li.bypostauthor {
	background: #ddd;
	border-color: #d3d3d3;
}

.commentlist > li.bypostauthor .comment-meta {
	color: #575757;
}

.commentlist > li.bypostauthor .comment-meta a:focus,
.commentlist > li.bypostauthor .comment-meta a:active,
.commentlist > li.bypostauthor .comment-meta a:hover {
}

.commentlist > li.bypostauthor:before {
	content: url(images/comment-arrow-bypostauthor.png);
}

/* Post Author threaded comments */
.commentlist .children > li.bypostauthor {
	background: #ddd;
	border-color: #d3d3d3;
}

/* sidebar-page.php comments */
/* Make sure we have room for our comment avatars */
.commentlist > li.comment,
.commentlist .pingback {
	margin-left: 102px;
	width: auto;
}


/* 4. PRINT
--------------------------------------------------------------------------------
==============================================================================*/


@media print {

	body { 
		font: normal normal 12pt/1.5em Georgia, 'Times New Roman', serif; 
		background: transparent !important;
		color: black !important;
		box-shadow: none !important;
		text-shadow: none !important;
		filter:none !important;
		-ms-filter: none !important;
	}
	
	#sidebar {
		display: none;
	}

	a[href]:after { 
		content: " (" attr(href) ") "; 
		font-size: 90%; 
	}

	a[href^="/"]:after { 
		content: " (http://foho.urldock.com" attr(href) ") ";
	}

	.ir span,
	#content .post .replace span {
		display: none !important;
	}

	#accessibility-nav, 
	.hide { 
		display: none !important; 
	}

	#header {
		height: auto;
	}

	#header .site-name,
	#header .by {
		width: auto;
		height: auto;
		padding: 0 0 12pt;
		position: static;
	}

	#content .post .replace {
		font-size: 100%;
		margin-right: 10px;
	}

	.sidebar-btn .icon {
		display: none;
	}

	.sidebar-btn a {
		height: auto;
		padding: 0;
		border: 0 none;
		box-shadow: 0 0 0 0 transparent;
	}
	/* Copyright */
	.print-disclaimer {
		display: block;
	}
	/* Comments */
	.commentlist > li.comment {
		background: none;
		border: 1px solid #ddd;
		-moz-border-radius: 3px 3px 3px 3px;
		border-radius: 3px 3px 3px 3px;
		margin: 0 auto 1.625em;
		padding: 1.625em;
		position: relative;
		width: auto;
	}
	.commentlist .avatar {
		height: 39px;
		left: 2.2em;
		top: 2.2em;
		width: 39px;
	}
	.commentlist li.comment .comment-meta {
		line-height: 1.625em;
		margin-left: 50px;
	}
	.commentlist li.comment .fn {
		display: block;
	}
	.commentlist li.comment .comment-content {
		margin: 1.625em 0 0;
	}
	.commentlist .comment-edit-link {
		display: none;
	}
	.commentlist > li::before,
	.commentlist > li.bypostauthor::before {
		content: '';
	}
	.commentlist .reply {
		display: none;
	}

	/* Post author highlighting */
	.commentlist > li.bypostauthor {
		color: #444;
	}
	.commentlist > li.bypostauthor .comment-meta {
		color: #666;
	}
	.commentlist > li.bypostauthor:before {
		content: none;
	}

	/* Post Author threaded comments */
	.commentlist .children > li.bypostauthor {
		background: #fff;
		border-color: #ddd;
	}
	.commentlist .children > li.bypostauthor > article,
	.commentlist .children > li.bypostauthor > article .comment-meta {
		color: #666;
	}
	
	.link-email,
	.link-print,
	.st_sharethis_hcount,
	.twitter-share-button,
	.fb-like,
	#respond {
		display: none;
	}
	
	.container,
	#content {
		width: 100%;
		margin: 0;
		padding: 0;
	}
}

.ie7 .error404 #s {
	margin-bottom: 0;
}

.ie7 .twitter-share-button {
	width: 90px !important;
}

#content .wp-caption, #content .wp-caption * { font-size: 12px; font-style: italic; line-height: 1.5; text-align:center; }
#content p.wp-caption-text, #content dd.wp-caption-dd { margin-right: 5px; margin-top: -10px; margin-bottom: 8px; } #content .wp-caption.alignleft { padding-right: 10px; } #content .wp-caption.alignright { padding-left: 10px; }
.footerLinkFoley .fn.org:hover, .footerLinkEEC .fn.org:hover {
cursor: pointer;
text-decoration: underline;
}
#f33d {
position: absolute;
top: -2px;
right: 0;
width: 18px;
height: 18px;
display: block;
background: url(../images/common/feed_24.png) top left no-repeat;
background-size: contain;
}
#f33d b {
display: none;
}
.FeedburnerEmailWidget h3 {
position: relative;
display: block;
}
.aligncenter { margin: 0 auto!important; }
.fourthChild { clear: left; }
#footer .fourthChild { clear: none; }
#footer .col { min-height: 215px; height: auto!important; height: 215px; }
#footer .col.footerLinkFoley { min-height: 135px; height: auto!important; height: 135px; }
.tag-links > .mrgn { display: block; margin-bottom: 6px;}